<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="" />
        <env name="DB_NAME" value="" />
        <env name="DB_USER" value="" />
        <env name="DB_PASS" value="" />
    </php>
</phpunit>
